html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat'
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 17px solid;
	margin: 30px;
}

.nameh {
	display: inline-block;
	font-weight: 500;
	font-size: 5rem;
	line-height: 1;
}

.skills {
	display: inline-block;
	font-size: 2rem;
	line-height: 1;
}

.heading, .subheading {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
}

.heading .desc {
	display: table-cell;
	vertical-align: bottom;
}

.row {
	height: 50%;
}

.links {
	display: table-cell;
}

.links a {
	color: #000;
	font-size: 1.5rem;
	text-decoration: none;
	border-bottom: 1px dashed black;
}

.links a:hover {
	transition: color 0.15s ease;
}

.no-js.main {
	border-color: #FFBDD8;
}

.no-js.nameh,
.no-js.links a:hover {
	color: #FFBDD8;
}


.b93DFB8 {
	border-color: #93DFB8;
}

.c93DFB8 {
	color: #93DFB8;
}

a.h93DFB8:hover {
	color: #93DFB8;
}

.bFFC8BA {
	border-color: #FFC8BA;
}

.cFFC8BA {
	color: #FFC8BA;
}

a.hFFC8BA:hover {
	color: #FFC8BA;
}

.bE3AAD6 {
	border-color: #E3AAD6;
}

.cE3AAD6 {
	color: #E3AAD6;
}

a.hE3AAD6:hover {
	color: #E3AAD6;
}

.bB5D8EB {
	border-color: #B5D8EB;
}

.cB5D8EB {
	color: #B5D8EB;
}

a.hB5D8EB:hover {
	color: #B5D8EB;
}

.bFFBDD8 {
	border-color: #FFBDD8;
}

.cFFBDD8 {
	color: #FFBDD8;
}

a.hFFBDD8:hover {
	color: #FFBDD8;
}